
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="text-center">
    <h3>
        @ViewBag.Greeting student?
    </h3>
    
    
    <h4>
        hopefdfsfs   
    </h4>

    <a asp-action="apply" class="btn btn-primary">Apply the course</a>
    </div>
</body>
</html>
